#login-form {
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
}

#login-form > h3 {
    text-align: center;
}

#loader {
    text-align: center;
    margin-top: 50px;
}
#errorMessage {
    color: red;
    text-align: center;
}